<footer class="footer">
 <small>
    By MYNOMBRE Todos los derechos reservados © 2016 ::.
 </small>
 <nav>
    <ul>
     <li><a href="http://www.MIPAGINA.co/">MYCOMPAÑIA</a></li>
    </ul>
 </nav>
</footer>
