<h1>Editando Articulo</h1>

<%= render 'form', articulo: @articulo %>

<div class="row">
<div class="col-md-8">
<%= link_to 'Ver', @articulo, class:"btn btn-success" %> |
<%= link_to 'Atrás', articulos_path, class:"btn btn-warning" %>
</div>
</div>